@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@1,300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    text-align: center;
    background-color: rgb(47, 213, 255);
}

/* Header */

h2 {
    padding: 15px;
    background-color: rgb(64, 64, 83);
    color: #fff;
}

/* Score Board */

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.badge {
    text-transform: uppercase;
}

#user-badge {
    margin-right: 15px;
    font-weight: 700;
}

#comp-badge {
    margin-left: 15px;
    font-weight: 700;
}

.score {
    padding: 15px 30px;
    border: 4px solid blue;
    border-radius: 15px;
    font-size: 30px;
    background-color: #fff;
}

/* Rock Paper Scissors Button */

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 40px;
}

.choice {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 130px;
    border: 4px solid blue;
    border-radius: 50%;
}

#rock {
    background-color: #fff;
}

#paper {
    background-color: #fff;
}

#scissors {
    background-color: #fff;    
}

/* Reset Button */

#reset {
    margin-top: 20px; 
    font-size: 1.2rem; 
    padding: 8px;
    border-radius: 10px;
}

/* footer */

footer {
    font-size: 24px;
}

